<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="https://apis.google.com/js/client:platform.js?onload=start"></script>
</head>
<body>
<div class="row top-menu">
	<div class="col-md-6">
		<a href="{{url_for('bookCategories')}}">
			<span class="glyphicon glyphicon-home" aria-hidden="true"></span> Back to Categories
		</a>
	</div>
	<div class="col-md-6 text-right">
		<p>Login Link will go Here </p>
		<a href = "{{ url_for('newBooks') }}"">
			<button class="btn btn-success">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Book</button>
		</a>
	</div>
</div>
	<div id="signInButton">
		<span class="g-signin"
			data-scope="openid email"
			data-clientid="625297152154-dr7dq55ecnp21eiiu513faog2ndh8ncv.apps.googleusercontent.com"
			data-redirecturi="postmessage"
    		data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
        </span>
    </div>

    <div id="result"></div>

<script>
	function signInCallback(authResult) {
		if (authResult['code']) {
			// Hide the sign-in button now that the user is authorized
			$('#signinButton').attr('style','display: none')

			// Send the one-time code to the server, if the server responds, write a 
			// 'login successful' message to the web page and then redirect back to
			// the main restaurants page
			$.ajax({
				type: 'POST',
				url: '/gconnect?state={{STATE}}',
				processData: false,
				data: authResult['code'],
				contentType: 'application/octet-stream; charset=utf-8',
				success: function(result) {
					// Handle or verify the server response if necessary.
					if (result) {
						$('#result').html('Login Successful!<br>'+ result +'<br>Redirecting...')
						setTimeout(function() {
							window.location.href = '/categories';
						}, 4000);
					} else if (authResult['error']) {
						console.log('There was an error: ' + authResult['error']);
					} else {
						$('#result').html('Failed to make a server-side call.  Check your configuration and console.')
					}
				}
			});
		}
	}
</script>
</body>
</html>